* {
  box-sizing: border-box;
  scrollbar-padding:3rem;
}

body, html {
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
  height: auto;
}

nav.main-nav {
  & > ul {

    background: white;
    margin: 0;
    padding-block: 1rem;

    & li {
      list-style: none;
    }

    & li:has(a:where([rel="current"],[rel="parent"])) {
      list-style: disclosure-open;
    }

    & li:has(> a[rel="current"]), & li:has(> a[rel="parent"]):not(:has(a[rel="current"])) {
      list-style: disclosure-closed;
    }


    & a {
      padding: 0.4rem 0.8rem;
      display: block;
      color: inherit;
      text-decoration: none;
    }

    & a[rel="current"] {
      font-weight: bold;
    }
  }
}


.main-layout-container {
  display: flex;
  gap: 3rem;
  align-items: start;

  & > main {
    flex: 1
  }
}

.bottom-menu-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 2.5rem;
  font-size: 120%;
  color: inherit;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
  text-decoration: none;
  background: white;
}

@media (width > 600px) {
  a[href="#manu"] {
    display: none;
  }

  .bottom-menu-toggle {
    display: none;
  }
}

@media (width <= 600px) {
  :where(html, body):has(nav.main-nav:target) {
    overflow: hidden;
  }

  main {
    padding-bottom:5rem;
  }

  nav.main-nav:not(:target) {
    display: none;
  }

  nav.main-nav {
    background: white;
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100dvh;
    overflow: auto;
    width: 100dvw;
    padding-top: 50dvh;
    padding-bottom: 2.5rem;
  }
}
